.loader_container {
    height: 100vh;
    background-image: url("../../public/loader/Alpha_Loader.gif");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* .board {
    width: 100vh;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../../public/loader/bg.png");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
} */

/* .board > img {
    max-height: none !important;
    min-height: none !important;
    max-width: none !important;
    min-width: none !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */