.imageGridItem {
  position: relative;
  object-fit: cover;
  width: auto;
  aspect-ratio: 1;
  height: 550px;
  margin: 12px auto;
  background: white;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  color: white;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.85);
  transition: all 0.4s ease;
}

.imageGridItem:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5%;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.95);
}

.Card {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: dashed 5px rgb(192, 180, 180);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  letter-spacing: 0.3ch;
  position: relative;
}

.eventDescription {
  text-align: justify;
  white-space: pre-line;
  height: 32vh;
  overflow-y: auto;
  mask-image: linear-gradient(
    to bottom,
    black calc(100% - 48px),
    transparent 100%
  );
}

.chipsGridItem {
  margin-top: 35px;
}

.chip {
  margin: 0px 5px;
  margin-top: 8px;
  background-color: #f07b3f;
  font-size: 0.7rem;
}

.teamSize {
  position: absolute;
  right: 3%;
}
.cardActions {
  overflow: auto;
}

@media screen and (max-width: 576px) {
  .eventDescription {
    height: auto;
    overflow-y: hidden;
    mask-image: none;
  }
  .teamSize {
    font-size: smaller;
    position: relative;
    margin-top: 8px;
    margin-left: 10px;
  }
  .cardActions {
    display: block;
  }
  .imageGridItem {
    height: 380px;
  }
}
