.container {
    display: flex;
    justify-content: space-evenly;
}

.appbar {
    background-color: #2D4059;
    height: 75px;
}

.navbar_logo {
    min-width: 0 !important;
    min-height: 0 !important;
    width: 50% !important;
    height: 50% !important;
    top: 10% !important;
    background-color: #2D4059;
    border-radius: 1rem;
}

.navbar_logo_shrunk {
    min-width: 0 !important;
    min-height: 0 !important;
    width: 30% !important;
    height: 30% !important;
}

.toolbar {
    display: flex !important;
    justify-content: center; 
}

.toolbar_box {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.navbar_drawer {
    background-color: #2D4059;
    color: white;
    height: 100vh;
}

.navbar_collapse {
    display: flex;
    justify-content: center;
}

.navbar_drawer > span {
    max-width: 50% !important;
}

@media only screen and (max-width: 600px) {
    .toolbar_box {
        display: none;
    }

    .navbar_logo {
        max-width: 35% !important;
        max-height: 35% !important;
        margin-left: 25% !important;
    }

    .navbar_logo_shrunk {
        max-height: 70px !important;
        max-width: auto !important;
        margin-left: 27.5% !important;
    }
}