.background {
  background-image: url("/website designs/Event desc.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* overflow-y: auto;  */
}

.main_container {
  padding-top: 0.5em;
  overflow-x: hidden;
  width: 100%;
}

.pageheader {
  color: white !important;
  font-family: "Audiowide", cursive;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px #000;
  text-align: center;
  /* margin: 20px auto; */
  /* padding: 10px 10px; */
}

.mainHeading {
  
  color: white !important;
  font-family: "Audiowide", cursive;
  font-size: 45px;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px #000;
  text-align: center !important;
}

.error {
  
  color: white !important;
  font-family: "Audiowide", cursive;
  font-size: 60px;
  font-weight: 700;
  letter-spacing: 5px;
  text-shadow: 5px 5px 5px #000;
  text-align: center !important;
  margin: auto
}

.search {
  color: #f1a661;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 30px;
  width: 100% !important;
}

.filtersContainer {
  background-color: rgba(236, 236, 236, 0.3);
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 10px;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 200px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.front_face,
.back_face {
  height: 80%;
  width: 100%;
  text-align: center;
  background-size: cover;
  background-position: center;
  transform: translateY(0deg);
  border-radius: 10px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}
.center:hover > .back_face {
  transform: rotateY(0deg);
}
.center:hover > .front_face {
  transform: rotateY(-180deg);
}

.filter {
  height: 100vh;
}

.eventCards {
  height: 100vh;
}

.third {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {

  .background {
    background-image: url('/mobile designs/event desc mobile.jpg');
  }
}

@media only screen and (max-width: 900px) {
  .eventCards {
    height: 100vh;
    margin-top: 50px;
  }
}