.center,.front_face{
  position: absolute;
}
.center{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 200px;
  transform-style: preserve-3d;
  perspective: 1000px;
}
.front_face{
  height: 12rem;
  width: 12rem;
  text-align: center;
  background-size: cover;
  background-position: center;
}
.container{
  height: 250px;
  /* width: 250px; */
  position: relative;
}

.name {
  padding-top: 8px;
  padding-bottom: 8px;
}