.background {
    background-image: url('/website designs/contact us.jpg');
    min-height: 91vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
.main_container {
  padding-top: 3.5rem;
    overflow-x: hidden;
  }
  
  .pageheader {
    color: white !important;
    font-family: "Audiowide", cursive;
    font-size: 45px;
    font-weight: 700;
    letter-spacing: 5px;
    text-shadow: 5px 5px 5px #000;
    text-align: center;
    /* padding: 10px 10px; */
  }

.contact {
    position: relative;
    min-height: 100vh;
    padding: 0 1% 6% 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.container {
    width: 100%;
    display: flex;
    padding: 3% 2%;
    justify-content: center;
    /* align-items: center; */
    margin-top: 30px;
    background-color: rgba(236, 236, 236, 0.5);
    border-radius: 10px;
}

.contactInfo {
  width: 50%;
  margin: 0;
}

.box {
  padding: 10px 0!important;
  justify-content: center;
  align-items: center;
}

.icon {
    min-width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid black;
    font-size: 2em;
}

.contactIcon {
  fill: #333;
}

.text {
    width: 81%;
    padding: 10px;
    font-size: 100%;
    color: black;
    font-weight: 300;
}

.text h3{
    font-weight: 500;
    color: black !important;
    margin: 0;
}

.text p{
    transition: all 0.3s;
    font-weight: 400;
    overflow-wrap: anywhere;
    margin: 0;
}

.text p:hover {
  transform: scale(1.1);
}

.socialInfo {
    display: flex;
    flex-direction: column;
    font-weight: 500;
}

.social {
  display: flex;
  justify-content: flex-start;
}

.socialIcon {
  font-size: 1.7em;
  transition: all 0.3s;
  margin: 5px 10px 0 0;
}

.socialIcon:hover {
  transform: scale(1.3);
}

.instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background: -webkit-radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  background-clip: text;
  -webkit-background-clip: text;
}

.facebook {
  color: #3b5998;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 20%,
    white 93%,
    transparent 93%
  );
  background-size: 40%;
  background-position: 50% 0;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.youtube {
  color: #ff0000;
  background-image: linear-gradient(
    to bottom,
    transparent 20%,
    white 10%,
    white 55%,
    transparent 93%
  );
  background-size: 80%;
  background-position: 40% 0%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.linkedin {
  color: #0a66c2;
  background-image: linear-gradient(
    to bottom,
    transparent 15%,
    white 10%,
    white 75%,
    transparent 93%
  );
  background-size: 80%;
  background-position: 40% 0%;
  background-repeat: no-repeat;
}

.facebook{
    color: #3b5998;
    background-image: linear-gradient( to bottom, transparent 20%, white 20%, white 93%, transparent 93% );
    background-size: 40%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.youtube{
    color: #FF0000;
    background-image: linear-gradient( to bottom, transparent 20%, white 10%, white 55%, transparent 93% );
    background-size: 80%;
    background-position: 40% 0%;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.linkedin{
    color: #0A66C2;
    background-image: linear-gradient( to bottom, transparent 15%, white 10%, white 75%, transparent 93% );
    background-size: 80%;
    background-position: 40% 0%;
    background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .pageheader {
    font-size: 32px;
    margin-top: 0;
  }

  .main_container {
    padding-top: 4rem;
  }

  .icon {
    display: none;
  }

  .background {
    background-image: url('/mobile designs/contact us mobile.jpg');
  }
}
