.gradient {
    /* background-image: linear-gradient(to bottom right, #EA5455, #2D4059); */
    /* background-image: linear-gradient(to bottom right, #F07B3F, #EA5455); */
    position: relative;
    background-color: #2D4059;
}

.circles {
    position: absolute;
    overflow: hidden;
}

.gradientCircles {
    position: absolute;
    height: 800px;
    width: 800px;
    padding: 0px;
    margin: 0px;
    background-image: radial-gradient(#F07B3F 0%, #2D4059 70%);
    border-radius: 50%;
    opacity: 0.5;
}

.child {
    position: relative;
}

@media only screen and (max-width: 1000px) {
    .gradientCircles {
        height: 500px;
        width: 500px;
    }
}