@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

.landing {
  color: #f5f5f5;
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  font-family: Ubuntu, sans-serif;
}

.parallax {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.parallaxBackground {
  background: -webkit-radial-gradient(top, #f29764, #d54942);
  background: radial-gradient(at top, #f29764, #d54942);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.parallaxSunClouds {
  position: absolute;
  width: 100%;
  top: -5%;
}

.parallaxBuildings2 {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.parallaxBuildings3 {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.parallaxMonuments {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
}

.parallaxPlaneWithPath {
  position: absolute;
  height: 75%;
  left: 1%;
  bottom: 24%;
}

.parallaxPecfest {
  position: absolute;
  width: 82%;
  top: 6%;
  left: 4%;
}

.parallax22 {
  position: absolute;
  width: 20%;
  top: 6%;
  right: 4%;
}

.parallaxIndianOdyssey {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 80%;
  bottom: 10%;
  z-index: 3;
}

.about,
.festTheme,
.festPhotos,
.festMegashows,
.about5 {
  position: relative;
  height: 91vh;
  width: 100%;
  background-size: cover;
  padding: 0;
  overflow: hidden;
}

.landingBg {
  background-image: url('/website designs/combined.jpg');
  background-size: cover;
}

.aboutBlur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  width: 80%;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.aboutHeader {
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.aboutDescription {
  font-size: 1.8rem;
  margin: 3rem 2rem 3rem 2rem;
  text-align: center;
}

.festPhotos {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

.festThemePics {
  position: relative;
  width: 60%;
  height: 100%;
  min-width: 750px;
}

.festFlex {
  position: relative;
  height: 100%;
  width: 40%;
  min-width: 400px;
}

.festFlex div {
  position: absolute;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  background-color: rgb(255, 0, 93, 0.2);
  text-align: center;
  vertical-align: middle;
  font-weight: 700;
  line-height: 45px;
  transition: all .3s ease-in-out;
  transform: translate(-50%, -50%);
}

.festFlex div:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.festFlex div:nth-child(1) {
  font-size: 40px;
  padding: 32px 0px 0px 5px;
  top: 25%;
  left: 40%;
}

.festFlex div:nth-child(1) span {
  font-size: 26px;
  font-weight: 500;
}

.festFlex div:nth-child(2) {
  font-size: 40px;
  padding: 32px 0px 0px 5px;
  top: 50%;
  left: 70%;
}

.festFlex div:nth-child(2) span {
  font-size: 26px;
  font-weight: 500;
}

.festFlex div:nth-child(3) {
  font-size: 25px;
  padding: 28px 0px 0px 5px;
  top: 75%;
  left: 40%;
}

.festThemePics img {
  height: 25vw;
  width: 18vw;
  object-fit: cover;
  position: absolute;
  transition: 1s;
  opacity: 0.8;
}

.festThemePics1 {
  top: 50%;
  left: 25%;
  transform-origin: bottom right;
  transform: translate(-50%, -50%) rotate(-15deg);
}

.festThemePics1:hover {
  animation: front1 0.3s linear forwards;
}

@keyframes front1 {
  from {
    z-index: 0;
    transform: translate(-50%, -50%) rotate(-15deg) scale(1);
    opacity: 0.8;
  }

  to {
    z-index: 4;
    transform: translate(-50%, -50%) rotate(-15deg) scale(1.05);
    opacity: 1;
  }
}

.festThemePics2 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.festThemePics2:hover {
  animation: front2 0.3s linear forwards;
}

@keyframes front2 {
  from {
    z-index: 0;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.8;
  }

  to {
    z-index: 4;
    transform: translate(-50%, -50%) scale(1.05);
    opacity: 1;
  }
}

.festThemePics3 {
  top: 50%;
  left: 75%;
  transform-origin: bottom left;
  transform: translate(-50%, -50%) rotate(15deg);
}

.festThemePics3:hover {
  animation: front3 0.3s linear forwards;
}

@keyframes front3 {
  from {
    z-index: 0;
    transform: translate(-50%, -50%) rotate(15deg) scale(1);
    opacity: 0.8;
  }

  to {
    z-index: 4;
    transform: translate(-50%, -50%) rotate(15deg) scale(1.05);
    opacity: 1;
  }
}

.festThemeBlur {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(20px);
  width: 80%;
  border-radius: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.festThemeHeader {
  font-size: 3rem;
  font-weight: 500;
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.festThemeDescription {
  font-size: 1.8rem;
  margin: 3rem 2rem 3rem 2rem;
  text-align: center;
}

.festMegashows {
  width: 100%;
  background-size: cover;
  text-align: center;
}

.festMegashowsHeader {
  height: 20%;
  width: 100%;
  position: relative;
}

.festMegashowsHeader span {
  position: absolute;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -25%);
  font-size: 2.2rem;
  font-weight: 500;
}

.carousel {
  text-align: center;
  width: 60%;
  height: 80%;
  margin: 4rem auto;
  margin-bottom: 2rem;
}

.slide img {
  width: 100%;
  margin: 0 auto;
}

.slide {
  transform: scale(0.8);
  transition: transform 300ms;
  opacity: 0.7;
}

.starName {
  font-size: 1.3rem;
  font-weight: 600;
  padding: 1rem 0 1.5rem 0;
}

.activeSlide {
  transform: scale(1.1);
  opacity: 1;
}

.activeSlide:hover {
  transform: scale(1.12);
  opacity: 1;
}

.about5 {
  width: 100%;
  background-size: cover;
}

@media only screen and (max-width: 900px) {
  .parallax {
    height: 35vh;
  }

  .parallaxSunClouds {
    top: 15%;
  }

  .parallaxPlaneWithPath {
    height: 50%;
    left: 4%;
    bottom: 10%;
  }

  .parallaxPecfest {
    top: 23%;
  }

  .parallax22 {
    top: 23%;
  }

  .parallaxIndianOdyssey {
    bottom: 5%;
  }

  .aboutHeader {
    font-size: 2.5rem;
  }

  .aboutDescription {
    font-size: 1.2rem;
  }

  .aboutBlur {
    height: 80%;
    width: 95%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .festThemePics {
    width: 100%;
    height: 50%;
  }

  .festThemePics img {
    height: 200px;
    width: 120px;
  }

  .festFlex {
    width: 100%;
    height: 50%;
  }

  .festThemePics1 {
    top: 50%;
    left: 38%;
    transform-origin: bottom right;
    transform: translate(-50%, -50%) rotate(-15deg);
  }

  .festThemePics2 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .festThemePics3 {
    top: 50%;
    left: 62%;
    transform-origin: bottom left;
    transform: translate(-50%, -50%) rotate(15deg);
  }

  .festFlex div:nth-child(1) {
    top: 20%;
    left: 23%;
  }

  .festFlex div:nth-child(2) {
    top: 60%;
    left: 50%;
  }

  .festFlex div:nth-child(3) {
    top: 20%;
    left: 77%;
  }

  .festThemeHeader {
    font-size: 2.5rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
  }

  .festThemeDescription {
    font-size: 1.2rem;
  }

  .festThemeBlur {
    height: 80%;
    width: 95%;
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .festMegashowsHeader span {
    width: 80%;
    top: 50%;
    transform: translate(-50%, -25%);
    font-size: 1.5rem;
    font-weight: 500;
  }

  .carousel {
    width: 90%;
    margin: 5rem auto;
  }

  .slide img {
    width: 80%;
  }

  .starName {
    font-size: 1.3rem;
    font-weight: 600;
    padding: 1rem 0 2rem 0;
  }
}